*{
    margin: 0;
    padding: 5px;
}
h1{
    text-align: center;
    background-color: rgb(161, 101, 217);
    height: 40px;
    color: aliceblue;

}
nav{
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(124, 27, 215);
    align-items: center;
    color: rgb(184, 243, 248);
}
ul{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
li,a{
    display: inline-block;
    text-decoration: none;
    color: bisque;
}
a:hover, a:visited{
    text-decoration: underline;
    color: rgb(236, 107, 71);
}
.first,.second{
    height: 50vh;
    width: 80%;
    background-color: rgb(233, 245, 129);
    margin: 3rem auto;
    text-align: center;
    border-radius: 20px;
    border: 5px solid  rgb(245, 6, 6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.second>div>img{
    height: 40dvh;
}
.second{
    height: 50vh;
}